frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env.local
frontend/.env.*.local


bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates

vector_database.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-journal

.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.patch
*.diff

.DS_Store
Thumbs.db
